/* 
fe5e5e behind logo
ffec62 button
fe7a5b button
e8de75 screen background
f3f6d7 dice
fffb7e logo Y 1
fdd57d logo Y 2
fecb7a logo Y 3
fffdab text next to logo 
https://coolors.co/fe5e5e-ffec62-fe7a5b-e8de75-f3f6d7-fffb7e-fdd57d-fecb7a-fffdab
*/




body {
    background: linear-gradient(135deg, #2C2C2C, #3A3A3A);
}

#app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#game-container {
    background: #121212;
    height: 639px;
    width: 507px;
    border-radius: 30px;
}

