:root {
    /* https://coolors.co/fe5e5e-ffec62-fe7a5b-e8de75-f3f6d7-fffb7e-fdd57d-fecb7a-fffdab */
    /* behind logo & main buttons */
    --bittersweet: #fe5e5e;
    
    /* hold buttons */
    --maize: #FFEC62;

    /* screen background */
    --straw: #E8DE75;

    /* dice */
    --lightyellow: #F3F6D7;

    /* logo Y 1 */
    --icterine: #FFFB7E;

    /* logo Y 2 */
    --jasmine: #FDD57D;

    /* logo Y 3 */
    --sunset: #FECB7A;

    /* text next to logo */
    --mindaro: #FFFDAB;

    /* handheld case */
    --night: #121212;
  }
  


body {
    background: linear-gradient(135deg, #2C2C2C, #3A3A3A);
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

#game-container {
    background: var(--night);
    height: 720px;
    width: 507px;
    border-radius: 30px;
}

#screen {
    background-color: var(--straw);
    width: 297px;
    height: 161px;
    border-radius: 10px;
}

/* LOWER SECTION SCORES START */
#lower-section-scores {
    display: flex;
    gap: 1px;
}

.lower-section-score {
    height: 30px;
    width: 30px;
    background-color: var(--lightyellow);
    border-radius: 5px;
    border: 1px solid var(--night);
    position: relative;
    font-size: 9px;
}

.lower-section-score#yahtzee {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
/* LOWER SECTION SCORES END */

/* SCORE DICE START */
#score-dice {
    display: flex;
    gap: 8px;
}

.score-die {
    width: 25px;
    height: 25px;
    background-color: var(--lightyellow);
    border-radius: 5px;
    border: 1px solid var(--night);
    position: relative;
}

.score-pip {
    width: 4.5px;
    height: 4.5px;
    border-radius: 100%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score-dice2 .score-pip1 {
    top: 75%;
    left: 25%;
}

#score-dice2 .score-pip2 {
    top: 25%;
    left: 75%;
}

#score-dice3 .score-pip2 {
    top: 75%;
    left: 25%;
}

#score-dice3 .score-pip3 {
    top: 25%;
    left: 75%;
}

#score-dice4 .score-pip1 {
    top: 75%;
    left: 25%;
}

#score-dice4 .score-pip2 {
    top: 25%;
    left: 75%;
}

#score-dice4 .score-pip3 {
    top: 25%;
    left: 25%;
}

#score-dice4 .score-pip4 {
    top: 75%;
    left: 75%;
}

#score-dice5 .score-pip1 {
    top: 75%;
    left: 25%;
}

#score-dice5 .score-pip2 {
    top: 25%;
    left: 75%;
}

#score-dice5 .score-pip3 {
    top: 25%;
    left: 25%;
}

#score-dice5 .score-pip4 {
    top: 75%;
    left: 75%;
}

#score-dice6 .score-pip1 {
    top: 75%;
    left: 25%;
}

#score-dice6 .score-pip2 {
    top: 25%;
    left: 75%;
}

#score-dice6 .score-pip3 {
    top: 25%;
    left: 25%;
}

#score-dice6 .score-pip4 {
    top: 75%;
    left: 75%;
}

#score-dice6 .score-pip5 {
    left: 25%;
}

#score-dice6 .score-pip6 {
    left: 75%;
}
/* SCORE DICE END */

#roll-dice {
    display: flex;
    gap: 5px;
}

.roll-die {
    width: 55px;
    height: 55px;
    background-color: var(--lightyellow);
    border-radius: 10px;
    border: 1px solid var(--night);
    position: relative;
}

/* PIPS START */
.pip {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.num2 .pip {
    top: 75%;
    left: 25%;
}

.num2 .pip1 {
    top: 25%;
    left: 75%;
}

.num3 .pip1 {
    top: 75%;
    left: 25%;
}

.num3 .pip2 {
    top: 25%;
    left: 75%;
}

.num4 .pip1 {
    top: 75%;
    left: 25%;
}

.num4 .pip2 {
    top: 25%;
    left: 75%;
}

.num4 .pip3 {
    top: 25%;
    left: 25%;
}

.num4 .pip4,
.num4 .pip5,
.num4 .pip6 {
    top: 75%;
    left: 75%;
}

.num5 .pip1 {
    top: 75%;
    left: 25%;
}

.num5 .pip2 {
    top: 25%;
    left: 75%;
}

.num5 .pip3 {
    top: 25%;
    left: 25%;
}

.num5 .pip4 {
    top: 75%;
    left: 75%;
}

.num6 .pip1 {
    top: 75%;
    left: 25%;
}

.num6 .pip2 {
    top: 25%;
    left: 75%;
}

.num6 .pip3 {
    top: 25%;
    left: 25%;
}

.num6 .pip4 {
    top: 75%;
    left: 75%;
}

.num6 .pip5 {
    left: 75%;
}

.num6 .pip6 {
    left: 25%;
}

.num0 .pip {
    display: none;
}
/* PIPS END */

#hold-btns {
    display: flex;
}

.hold-btn {
    width: 45px;
    height: 45px;
    background-color: var(--maize);
    border-radius: 100%;
    cursor: pointer;
}

#new-game-btn-out {
    color: #fff;
    font-size: 12px;
}

#new-game-btn {
    background-color: var(--bittersweet);
    width: 42px;
    height: 23px;
    border-radius: 10px;
    cursor: pointer;
}

#action-btns {
    display: flex;
}

#enter-btn {
  width: 40px;
  height: 40px;
  background: var(--bittersweet);
  border-radius: 100%;
  cursor: pointer;
}

#roll-btn,
#select-btns {
    height: 40px;
    width: 120px;
    background: var(--bittersweet);
    border-radius: 30px;
    cursor: pointer;
}

#select-btns {
    display: flex;
}

#select-left,
#select-right {
    width: 50%;
    height: 100%;
}

